# Visual Studio 一般的な不要ファイル
*.suo
*.user
*.cache
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.vsidx
DocumentLayout.json
DocumentLayout.backup.json

# SQLite の一時ファイルは無視する
*.db-shm
*.db-wal

# ビルド生成物
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate
*.recipe

# ユーザー固有のプロジェクト設定ファイル
*.vcxproj.user

# ビルド出力ディレクトリ
x64/
**/x64/
Debug/
**/Debug/
Release/
**/Release/

.vs/